html {
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #1a2269 0%, #4c0386 100%);
  margin: 0;
  font-family: "Inter";
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 50%;
}

h1,
h1 span {
  font-size: 96px;
  font-weight: 800;
  margin-bottom: 28px;
  margin-top: 0;
}
h1 span {
  color: #ff6363;
}
h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 500;
}
h1,
h2 {
  color: #ffffff;
}
.inputs-wrap {
  border-radius: 16px;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 5px #00000040;
}

#taskList {
  display: none;
}
.todo-input {
  border: 1px solid #a6a6a6;
  border-right: none;
  height: 48px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  background: #c2c2c233;
  opacity: 0.8;
  width: 345px;
}
.todo-input input,
.todo-input button {
  border-radius: 24px;
  border: none;
}
.todo-input input{
    background: transparent;
}
.todo-input input:focus-visible{
    border: none;
}
.todo-input button {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #ff6363;
  padding: 15.4px 30px;
  cursor: pointer;
}
